body {width: 800px;}
header { color: blue;
    background-color: cadetblue;
    text-align: center;
    font-size: x-large;
    display: block;
} 
nav  ul li {background-color: darkcyan;
      display: inline-block;
    padding: 10px;
    

}
footer {width: 800px;
background-color: darkgray;
 color: darkslateblue;

 text-align: center;}
 img { height: 300px;
width: 350;
}
main{background-color: aquamarine;}
